/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require simple_calendar
 */

 @font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-Regular.ttf');
  }

 body {
    background: #eea6d9;
    font-family: Montserrat;
  }

  .logo {
    background: url("logo.jpg");
    padding: 0px;
    margin: 0px;
    height: 222px;
  }

  h1 {
    color: black;
    margin-left: 20px;
  }

  h2 {
    color: black;
    margin-left: 20px;
  }

  h3 {
    color: black;
    margin-left: 20px;
  }

  p {
    margin-left: 20px;
    color: white;
    font-weight: bold;
  }


  div#homepage a{
 
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 40px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;

    color: #FFFFFF;
    background: #333333;
    border-radius: 6px;

    width: 130px;
    height: 40px;


    display: inline-block; 



  }


  div#homepage {
    text-align: center;
    margin-right: auto; 
    margin-right: auto; 
    
  }

  /* Rectangle 3 */

html {
  background-image: url("background.jpg") ;
  background-size: 130%;
}


Primary Button
*/





/* Rectangle 2 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Gray 1 */
background: #333333;
border-radius: 6px;


/* Login with Facebook */

position: absolute;
left: 27.69%;
right: 26.92%;
top: 27.5%;
bottom: 27.5%;




 

  
