/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face {
  font-family: 'Montserrat';
  src: url('Montserrat-Regular.ttf');
  }

  html {
    background-image: url("background.jpg") ;
    background-size: 130%;
  }

 body {
    background:grey;
    font-family: Montserrat;
  }

  .logo {
    background: url("logo.jpg");
    padding: 0px;
    margin: 0px;
    height: 200px;
  }

  h1 {
    color: black;
    margin-left: 20px;
  }

  h2 {
    color: black;
    margin-left: 20px;
  }

  h3 {
    color: black;
    margin-left: 20px;
  }

  p {
    margin-left: 20px;
    color: black;
    font-weight: bold;
  }

  a {
    color: black;
    font-weight: bold;
  }

 input {
    margin-left: 20px;
  }

  div#homepage {
    text-align: center;
    height: 0px; 
    width: 100%
  }

  div#homepage a{
    margin: auto
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 40px;
    align-items: center;
    text-align: center;
    letter-spacing: -0.015em;

    color: #FFFFFF;
    background:  #eea6d9;
    border-radius: 6px;

    width: 130px;
    height: 40px;

    display: inline-block; 

    
  }


  

  nav {
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    background:  #eea6d9;
  }

  nav a {

  height: 29px; 

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  display: inline-block;
  color: #F2F2F2;
  }

  




  table {
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(221, 221, 221);
    border-collapse: collapse;
    box-sizing: border-box;
    max-width: 95%;
    width: 100%;
    align: center; 
    margin-left: auto;
    margin-right: auto;
  }

  tr {
    border-collapse: collapse;
  }

  th {
    padding: 6px;
    border-bottom: 2px solid rgb(221, 221, 221);
    border-collapse: collapse;
    border-left: 1px solid rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
    border-top: 5px none rgb(51, 51, 51);
    box-sizing: border-box;
    text-align: left;
  }

  td {
    padding: 6px;
    vertical-align: top;
    width: 14%;

    border: 5px solid #ddd;
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;
    border-top-width: 5px;
    border-right-color: rgb(221, 221, 221);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-left-color: rgb(221, 221, 221);
    border-left-style: solid;
    border-left-width: 1px;
  }

  div.calendar-heading {
    margin-left: 20px;
    margin-bottom: 10px;
  }

  .day {
    height: 80px;
  }

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {
    background:  #eea6d9;
  }

  .past {}
  .future {}

  .start-date {}

  .prev-month {
    background: #DDD;
  }
  .next-month {
    background: #DDD;
  }
  .current-month {}

  .has-events {}


