<%= week_calendar( events: @appointments) do |date, meetings| %>
    <%= date %>
  
    <% meetings.each do |meeting| %>
      <div>
        <%= link_to meeting.name, appointment_path(meeting) %> - <%= meeting.start_time_view %>
      </div>
    <% end %>
<% end %>