<h1>Upcoming Appointments</h1>

<%= week_calendar(events: @appointments) do |date, meetings| %>
    <%= date %>
  
    <% meetings.each do |meeting| %>
      <div>
        <%= meeting.name %>
      </div>
    <% end %>
  <% end %>
