<h1>Upcoming Appointments</h1>
<br>

<%= week_calendar( events: @appointments) do |date, meetings| %>
    <%= date %>
  
    <% meetings.each do |meeting| %>
      <div>
        <%= link_to meeting.name, appointment_path(meeting) %> - <%= appointment_time_view(meeting.start_time) %>
      </div>
    <% end %>
<% end %>